<app-header></app-header>
<app-navbar></app-navbar>
<div class="cart">
  @if (products.length != 0) {
    @if (!loading && products) {
      @for (product of products; track $index){
        <section class="card">
          <div class="text">
            <div (click)="viewProductDetails(product?.id)" class="image">
              <img [src]="product?.thumbnail" alt="img" class="banner">
              <span>-{{product?.discountPercentage}}%</span>
            </div>
            <div class="content">
              <div (click)="viewProductDetails(product?.id)" class="detail">
                <h1 [innerHTML]="product?.title" class="title"></h1>
                <div class="price">{{product?.price | currency}} <span>{{product?.price / (1 - (product?.discountPercentage / 100)) | currency}}</span></div>
                <div [innerHTML]="product?.description" class="overview"></div>
                <div class="stock">Stock: {{product?.stock}} left</div>   
              </div>     
              <div class="buttons">
                <button (click)="remove(product)" class="remove">Remove from cart</button>
                <button class="save">Save</button>
              </div>
            </div>
          </div>
        </section>
      }
    } @else {
      <img src="/assets/gif/loading.gif" alt="loading..." class="loader"/>
    }
  } @else {
    <p class="loading">Nothing in Cart...add a product</p>
  }
</div>