<div class="header">
  <span>Lowest price you can't find...</span>
  <div class="scroll-content">
    <div class="scroll-text">
      With our price match guarantee, you can shop with confidence knowing you're always getting the best deal.
    </div>
    <div class="scroll-text">Pay less, Why pay more?</div>
    <div class="scroll-text">
      Shop with us today and experience incredible savings without compromising on quality.
    </div>
    <div class="scroll-text">
      Don’t miss out on our unbeatable prices – start shopping now and find out why our customers keep coming back for more!
    </div>
  </div>
</div>