<section class="details">
  <app-header></app-header>
  <app-navbar></app-navbar>
  @if (!loading){
    <div class="detail">
      <div class="image">
        <img [src]="productDetail?.thumbnail" alt="img" class="url">
      </div>
      <div class="timestamp">
        <p class="category">Product Category: {{productDetail?.category}}</p>
        <p class="publish">Stock: {{productDetail?.stock}} left</p>
      </div>
      <div class="product">
        <h1 class="title">{{productDetail?.title}}</h1>
        <app-star-rating [rating]="productDetail?.rating"></app-star-rating>
        <div class="overview">{{productDetail?.description}}</div>
      </div>
      <div class="desc">
        <p>Price: <span>{{productDetail?.price | currency}}</span></p>
        <p>Discount: <span>-{{productDetail?.discountPercentage}}%</span></p>
        <p>Weight: <span>{{productDetail?.weight}}</span></p>
        <p>Shipping: <span>{{productDetail?.shippingInformation}}</span></p>
        <p>Warranty: <span>{{productDetail?.warrantyInformation}}</span></p>
        <p>Return Policy: <span>{{productDetail?.returnPolicy}}</span></p>
        <p>Review: <span>{{productDetail?.reviews?.length}} Reviews</span></p>
      </div>

      <div class="buttons">
        <button (click)="addToCart(productDetail?.id)" class="add">Add to cart</button>
        <button (click)="back()" class="add back"><mat-icon class="arrow">navigate_before</mat-icon>Back</button>
      </div>
      <app-scroll-to-top></app-scroll-to-top>
    </div>
  }
  @if (loading){
    <img src="/assets/gif/loading.gif" alt="loading..." class="loader"/>
  }
</section>