section{
  .home{
    margin-left: 18.75rem;
    & p{
      font-size: 1.5rem;
      font-weight: 500;
      padding:  0 2rem;
    }
  }
}

@media(min-width: 768px){
  section{
    .full{
      margin-left: 0;
    }
    .none{
      display: none;
    }
  }
}

@media(max-width: 768px){
  section{
    .sidebar{
      display: none;
    }
    .home{
      width: 100%;
      margin-left: 0;
    }
    .show{
      display: block;
    }
  }
}