.scroll-to-top{
  position: fixed;
  bottom: 1rem;
  right: 0.625rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.circle-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color);
  color: var(--text1);
  width: 3rem;
  height: 3rem;
  font-size: 2.5rem;
  transition: 0.3s;
  border-radius: 50%;
  &:hover{
    opacity: 0.8;
  }
}